header {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    letter-spacing: .07em;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
    flex: 1;
}

.logo {
    transform: scale(1.4);
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 10px;
}


a {
    text-decoration: none;
}

a:not(.highlight) {
    color: whitesmoke;
}