.coffee-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  height: 380px;
  cursor: pointer;
}

.coffee-card-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.coffee-card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

svg {
  position: absolute;
  bottom: -18px;
  width: 300px;
  z-index: 10;
}

.coffee-card-content {
  z-index: 20;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.coffee-card-title h4 {
  margin: 10px 0;
}

.coffee-card-description {
  font-size: small;
}

.coffee-card-description p {
  margin: 5px 0;
}

.coffee-card-rating {
  display: flex;
  flex-direction: row;
}

.coffee-card-rating mat-icon {
  font-size: 20px;
  width: auto;
}

.price {
  font-style: italic;
  font-weight: 300;
  padding-left: 5px;
}

.coffee-card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coffee-card-content button {
  margin-left: auto;
}
