.all-products-header {
  background-color: rgb(53, 46, 32);
  display: flex;
  justify-content: center;
  height: 300px;
}

.all-products-header img {
  width: 300px;
}

.all-products-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
